<div class="card text-center">
    <div class="card-header">
      XxX
    </div>
    <div class="card-body">
      <h5 class="card-title">Criaçao de um CRUD para aprendizagem!</h5>
      <p class="card-text">Pedro Henrique Poiani Resende - pedropoiani@gmail.com</p>
      
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>